@model Randomizer.Model.ElementList
@{
    Layout = "_Layout";
}

<h3>Are you sure you want to delete this item?</h3>
<p class="text-danger">@ViewData["ErrorMessage"]</p>

<dl>
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
</dl>

<form class="form-horizontal" asp-controller="ElementLists" asp-action="Delete" method="post">
    <button type="submit" class="btn btn-default">Delete</button>
    <a asp-action="Index" class="btn btn-default">Back to list</a>
</form>