@model Randomizer.Model.ElementList
@{
    Layout = "_Layout";
}

<h2>Details</h2>
<h4>List</h4>
<hr />

<dl>
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt>@Html.DisplayNameFor(model => model.Elements)</dt>
    <dd>
        <ul>
            @foreach (var item in Model.Elements)
            {
                <li>@Html.DisplayFor(modelItem => item.Name)</li>
            }
        </ul>
    </dd>

</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to list</a>
</p>