@model Randomizer.Model.ElementList
@{
    Layout = "_Layout";
}

<h2>Edit</h2>
<h4>@Model.Name</h4>
<hr />

<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<form class="form-horizontal" asp-controller="ElementLists" asp-action="Edit" method="post">

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    @*<div class="form-group">
        <label asp-for="Elements" class="col-md-2 control-label">Items</label>
        <div class="col-md-offset-2 col-md-10">
            <table>
                <tr>
                    @{
                        int cnt = 0;
                        List<Randomizer.Web.Models.ListElementViewModel> elements = ViewBag.Elements;

                        foreach (var element in elements)
                        {
                            if (cnt++ % 3 == 0)
                            {
                                @:</tr><tr>
                            }
                            @:<td>
                                <input type="checkbox"
                                       name="selectedELements"
                                       value="@element.ElementID"
                                       @(Html.Raw(element.InList ? "checked=\"checked\"" : "")) />
                                @element.ElementName
                            @:</td>
                        }
                        @:</tr>
                    }
              </table>
         </div>
    </div>*@

    @for (int i = 0; i < Model.Elements.Count(); i++)
    {
        <h5>Item @(i+1)</h5>
        @Html.EditorFor(model => model.Elements[i])
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <a asp-action="Delete" asp-controller="Elements" asp-route-id="@Model.Elements[i].ID" class="btn btn-danger">Delete</a>
            </div>
        </div>
        
    }

    <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <button type="submit" name="Save" class="btn btn-default">Save</button>
        </div>
    </div>
</form>

<div class="form-group">
    <a asp-action="Index">Back to list</a>
</div>
