@model IEnumerable<Randomizer.Model.ElementList>
@{
    Layout = "_Layout";
}

<h2>Lists</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a href="#" class="btn btn-default getRandom" data-id="@item.ID">GetRandomElement</a> 
                    <a href="#" class="btn btn-default getRandoms" data-id="@item.ID">GetRandomElements</a> 
                    <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                    <a class="btn btn-default" asp-action="Details" asp-route-id="@item.ID">Details</a> 
                    <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $('.getRandom').on('click', function () {
        var itemId = $(this).attr('data-id');
        $.ajax({
            url: '/ElementLists/GetRandomElement/',
            type: 'POST',
            data: { id: itemId },
            success: function (result) {
                alert(result.ans);
            }
        });
    });

    $('.getRandoms').on('click', function () {

        var itemId = $(this).attr('data-id');
        var numberOfElements = prompt("How many items do you want to choose?", "1");

        if (numberOfElements != null) {
            $.ajax({
                url: '/ElementLists/GetRandomElements/',
                type: 'POST',
                data: { id: itemId, count: numberOfElements },
                success: function (result) {
                    alert(result.ans);
                }
            });
        }
    });
</script>