@model Sakura.AspNetCore.IPagedList<Randomizer.Model.ElementList>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Lists";
}

<h2>Lists</h2>

@if (Model.Count() == 0)
{
    <div class="well">
        There are no created lists. <a class="btn btn-primary" asp-action="Create">Add New</a>
    </div>
}
else
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Create" asp-controller="Elements"asp-route-listID="@item.ID"
                           class="btn btn-sm btn-success">Add Item</a>
                        <a href="#" class="btn btn-sm btn-primary getRandom" data-id="@item.ID">Draw Item</a>
                        <a href="#" class="btn btn-sm btn-primary getRandoms" data-id="@item.ID">Draw Items</a>
                        <a class="btn btn-sm btn-default" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.ID">Details</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <pager source="Model" />
}


<script>
    $('.getRandom').on('click', function () {
        var itemId = $(this).attr('data-id');

        $.ajax({
            url: '/ElementLists/DrawItem/',
            type: 'POST',
            data: { id: itemId },
            success: function (result) {
                alert(result.ans);
            }
        });
    });

    $('.getRandoms').on('click', function () {

        var itemId = $(this).attr('data-id');
        var numberOfElements = prompt("How many items do you want to choose?", "1");

        if (numberOfElements != null) {
            $.ajax({
                url: '/ElementLists/DrawItems/',
                type: 'POST',
                data: { id: itemId, count: numberOfElements },
                success: function (result) {
                    alert(result.ans);
                }
            });
        }
    });

</script>

