@model Sakura.AspNetCore.IPagedList<Randomizer.Model.ElementList>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Lists";
}

<h2>Lists</h2>

@if (!Model.Any())
{
    <div class="well">
        There are no created lists. <a class="btn btn-primary" asp-action="Create">Add New</a>
    </div>
}
else
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Create" asp-controller="Elements" asp-route-listID="@item.ID"
                           class="btn btn-sm btn-success">
                            <i class="fa fa-plus"></i> Add Item
                        </a>
                        <a href="#" class="btn btn-sm btn-primary getRandom" data-id="@item.ID">
                            <i class="fa fa-magic"></i> Draw Item
                        </a>
                        <a href="#" class="btn btn-sm btn-primary getRandoms" data-id="@item.ID">
                            <i class="fa fa-magic"></i> Draw Items
                        </a>
                        <a class="btn btn-sm btn-default" asp-action="Edit" asp-route-id="@item.ID">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.ID">
                            <i class="fa fa-info"></i> Details
                        </a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ID">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <pager source="Model" />
}
@Html.Partial("_Modals")
