@model Randomizer.Model.SimpleElement
@{
    Layout = "_Layout";
}

<h2>Details</h2>
<h4>Element</h4>
<hr />

<dl>
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.User.UserName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.User.UserName)
    </dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to list</a>
</p>